In [51]:
import pandas as pd
import numpy as np
import scipy
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_regression
from sklearn.model_selection import GridSearchCV, StratifiedKFold
from sklearn.model_selection import RandomizedSearchCV

In [3]:
df = pd.read_csv('our_data.csv')

In [4]:
df.head()

,Unnamed: 0,id,name,employment,salary_from,salary_to,exp,schedule_new,1.475,1.221,...,26.449,21.756,5.459,14.364,5.369,5.365,17.418,3.151,20.375,5.234
0,0,43958325,Middle Game Developer (Unity3d) / Разработчик ...,full,180000.0,NaN,between1And3,remote,1.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,39318074,Backend разработчик,full,230000.0,NaN,between3And6,flexible,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,44075159,Ассистент руководителя со знанием английского ...,full,50000.0,70000.0,noExperience,fullDay,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,43814787,Установщик дополнительного оборудования/Сервис...,full,60000.0,150000.0,between1And3,flexible,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,43479375,Менеджер по закупкам,full,40000.0,80000.0,noExperience,fullDay,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
df.drop(['Unnamed: 0','id', 'name', 'employment'], axis=1, inplace=True)

In [6]:
list(df.columns[4:])[1]

'1.221'

In [7]:
df[ list(df.columns[4:]) ] = df[list(df.columns[4:])].fillna(value=0)

In [8]:
df[(~np.isnan(df['salary_from'])) & ~np.isnan(df['salary_to'])]

,salary_from,salary_to,exp,schedule_new,1.475,1.221,1.82,1.744,1.89,git,...,26.449,21.756,5.459,14.364,5.369,5.365,17.418,3.151,20.375,5.234
2,50000.0,70000.0,noExperience,fullDay,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60000.0,150000.0,between1And3,flexible,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,40000.0,80000.0,noExperience,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,60000.0,70000.0,between3And6,remote,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
6,70000.0,170000.0,between1And3,flexible,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4606,100000.0,120000.0,between1And3,fullDay,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4609,130000.0,180000.0,between3And6,flexible,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4611,60000.0,75000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4614,50000.0,110000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4615,40000.0,120000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
df[~np.isnan(df['salary_from'])]

,salary_from,salary_to,exp,schedule_new,1.475,1.221,1.82,1.744,1.89,git,...,26.449,21.756,5.459,14.364,5.369,5.365,17.418,3.151,20.375,5.234
0,180000.0,NaN,between1And3,remote,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,230000.0,NaN,between3And6,flexible,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,50000.0,70000.0,noExperience,fullDay,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,60000.0,150000.0,between1And3,flexible,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,40000.0,80000.0,noExperience,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4613,120000.0,NaN,between3And6,remote,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4614,50000.0,110000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4615,40000.0,120000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4616,150000.0,NaN,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4617,90000.0,NaN,between1And3,fullDay,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [10]:
chek_block = df[np.isnan(df['salary_from'])]

In [11]:
chek_block

,salary_from,salary_to,exp,schedule_new,1.475,1.221,1.82,1.744,1.89,git,...,26.449,21.756,5.459,14.364,5.369,5.365,17.418,3.151,20.375,5.234
12,NaN,150000.0,between1And3,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,NaN,130000.0,between3And6,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,NaN,90000.0,between1And3,fullDay,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,NaN,50000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,NaN,160000.0,between1And3,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4579,NaN,150000.0,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4580,NaN,46000.0,noExperience,fullDay,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4594,NaN,45000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4602,NaN,240000.0,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4608,NaN,50000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
chek_block['salary_from'] = chek_block['salary_to'] * 0.75

<ipython-input-12-e3e77dba5bbf>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chek_block['salary_from'] = chek_block['salary_to'] * 0.75

In [13]:
chek_block

,salary_from,salary_to,exp,schedule_new,1.475,1.221,1.82,1.744,1.89,git,...,26.449,21.756,5.459,14.364,5.369,5.365,17.418,3.151,20.375,5.234
12,112500.0,150000.0,between1And3,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,97500.0,130000.0,between3And6,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,67500.0,90000.0,between1And3,fullDay,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,37500.0,50000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,120000.0,160000.0,between1And3,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4579,112500.0,150000.0,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4580,34500.0,46000.0,noExperience,fullDay,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4594,33750.0,45000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4602,180000.0,240000.0,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4608,37500.0,50000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
chek_new = df[np.isnan(df['salary_to'])]

In [15]:
chek_new['salary_to'] = chek_new['salary_from'] * 1.4

<ipython-input-15-c9d533a6e565>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  chek_new['salary_to'] = chek_new['salary_from'] * 1.4

In [16]:
chek_new

,salary_from,salary_to,exp,schedule_new,1.475,1.221,1.82,1.744,1.89,git,...,26.449,21.756,5.459,14.364,5.369,5.365,17.418,3.151,20.375,5.234
0,180000.0,252000.0,between1And3,remote,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,230000.0,322000.0,between3And6,flexible,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
7,130000.0,182000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9,170000.0,238000.0,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10,70000.0,98000.0,between3And6,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4610,150000.0,210000.0,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4612,100000.0,140000.0,between3And6,flexible,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4613,120000.0,168000.0,between3And6,remote,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4616,150000.0,210000.0,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4617,90000.0,126000.0,between1And3,fullDay,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [17]:
chek_block

,salary_from,salary_to,exp,schedule_new,1.475,1.221,1.82,1.744,1.89,git,...,26.449,21.756,5.459,14.364,5.369,5.365,17.418,3.151,20.375,5.234
12,112500.0,150000.0,between1And3,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,97500.0,130000.0,between3And6,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,67500.0,90000.0,between1And3,fullDay,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,37500.0,50000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,120000.0,160000.0,between1And3,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4579,112500.0,150000.0,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4580,34500.0,46000.0,noExperience,fullDay,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4594,33750.0,45000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4602,180000.0,240000.0,between3And6,fullDay,0.0,1.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4608,37500.0,50000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [18]:
df_new = pd.concat([chek_block, chek_new, df[(~np.isnan(df['salary_from'])) & ~np.isnan(df['salary_to'])]])

In [19]:
df_new

,salary_from,salary_to,exp,schedule_new,1.475,1.221,1.82,1.744,1.89,git,...,26.449,21.756,5.459,14.364,5.369,5.365,17.418,3.151,20.375,5.234
12,112500.0,150000.0,between1And3,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
31,97500.0,130000.0,between3And6,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
34,67500.0,90000.0,between1And3,fullDay,0.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
43,37500.0,50000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
49,120000.0,160000.0,between1And3,fullDay,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4606,100000.0,120000.0,between1And3,fullDay,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4609,130000.0,180000.0,between3And6,flexible,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4611,60000.0,75000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4614,50000.0,110000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4615,40000.0,120000.0,between1And3,fullDay,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [20]:
df_new.to_csv('new_example.csv')

In [21]:
df = pd.get_dummies(df_new, prefix=['exp', 'schedule_new'])

In [22]:
df['salary'] = (df['salary_from'] + df['salary_to']) / 2

In [23]:
df.drop(['salary_from', 'salary_to'], axis=1, inplace=True)

In [24]:
df

,1.475,1.221,1.82,1.744,1.89,git,atlassian jira,unity,c#,работа в команде,...,exp_between1And3,exp_between3And6,exp_moreThan6,exp_noExperience,schedule_new_flexible,schedule_new_flyInFlyOut,schedule_new_fullDay,schedule_new_remote,schedule_new_shift,salary
12,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,131250.0
31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,0,0,1,0,0,113750.0
34,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,78750.0
43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,43750.0
49,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,140000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4606,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,110000.0
4609,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0,1,0,0,1,0,0,0,0,155000.0
4611,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,67500.0
4614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1,0,0,0,0,0,1,0,0,80000.0
4615,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1,0,0,0,0,0,1,0,0,80000.0

In [25]:
y = df['salary']

In [26]:
y

12      131250.0
31      113750.0
34       78750.0
43       43750.0
49      140000.0
          ...
4606    110000.0
4609    155000.0
4611     67500.0
4614     80000.0
4615     80000.0
Name: salary, Length: 4618, dtype: float64

In [33]:
df.columns

Index(['1.475', '1.221', '1.82', '1.744', '1.89', 'git', 'atlassian jira',
       'unity', 'c#', 'работа в команде',
       ...
       'exp_between1And3', 'exp_between3And6', 'exp_moreThan6',
       'exp_noExperience', 'schedule_new_flexible', 'schedule_new_flyInFlyOut',
       'schedule_new_fullDay', 'schedule_new_remote', 'schedule_new_shift',
       'salary'],
      dtype='object', length=995)

In [34]:
X, y = df.iloc[:, 0:994],  df['salary'] #отделяем признаки от целевой переменной

In [35]:
X

,1.475,1.221,1.82,1.744,1.89,git,atlassian jira,unity,c#,работа в команде,...,5.234,exp_between1And3,exp_between3And6,exp_moreThan6,exp_noExperience,schedule_new_flexible,schedule_new_flyInFlyOut,schedule_new_fullDay,schedule_new_remote,schedule_new_shift
12,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,0,1,0,0
31,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,1,0,0,0,0,1,0,0
34,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,0,1,0,0
43,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,0,1,0,0
49,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4606,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,0,1,0,0
4609,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0,1,0,0,1,0,0,0,0
4611,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,0,1,0,0
4614,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1,0,0,0,0,0,1,0,0
4615,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,1,0,0,0,0,0,1,0,0

In [36]:
y

12      131250.0
31      113750.0
34       78750.0
43       43750.0
49      140000.0
          ...
4606    110000.0
4609    155000.0
4611     67500.0
4614     80000.0
4615     80000.0
Name: salary, Length: 4618, dtype: float64

In [37]:
scipy.sparse.csr_matrix(X)

<4618x994 sparse matrix of type '<class 'numpy.float64'>'
	with 47800 stored elements in Compressed Sparse Row format>

In [40]:
regressor = DecisionTreeRegressor(random_state=0)

In [41]:
cross_val_score(regressor, X, y, cv=10)

array([-0.55284874,  0.2769218 ,  0.21045763,  0.19749256,  0.31496012,
       -0.1780538 ,  0.19710404,  0.02003671, -0.02832694, -0.15971783])

In [42]:
train_size = int(0.7 * df.shape[0])

In [43]:
X_train, X_valid = X.iloc[:train_size, :], X.iloc[train_size:,:]

y_train, y_valid = y.iloc[:train_size], y.iloc[train_size:]

In [44]:
regressor.fit(scipy.sparse.csr_matrix(X_train), y_train)

DecisionTreeRegressor(random_state=0)

In [48]:
train_preds = regressor.predict(scipy.sparse.csr_matrix(X_train))
valid_preds = regressor.predict(scipy.sparse.csr_matrix(X_valid))

print('Ошибка на трейне',mean_absolute_error(y_train, train_preds))
print('Ошибка на тесте',mean_absolute_error(y_valid, valid_preds))

Ошибка на трейне 1552.3899767208864
Ошибка на тесте 47058.32250996358

In [93]:
rf = RandomForestRegressor(n_estimators = 1000, random_state = 42, verbose=1)

In [94]:
parameters = {
    "max_depth": np.arange(1, 10, 1),
}

In [95]:
skf = StratifiedKFold(n_splits=5, shuffle=True, random_state=5)

In [96]:
rand_cv = GridSearchCV(estimator=rf, param_grid=parameters, n_jobs=-1)

In [97]:
%%time
rand_cv.fit(X_train,y_train)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.

Wall time: 10min 23s

[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:  1.3min finished

GridSearchCV(estimator=RandomForestRegressor(n_estimators=1000, random_state=42,
                                             verbose=1),
             n_jobs=-1,
             param_grid={'max_depth': array([1, 2, 3, 4, 5, 6, 7, 8, 9])})

In [98]:
rand_cv.best_params_

{'max_depth': 9}

In [99]:
?cross_val_score

Signature:
cross_val_score(
    estimator,
    X,
    y=None,
    *,
    groups=None,
    scoring=None,
    cv=None,
    n_jobs=None,
    verbose=0,
    fit_params=None,
    pre_dispatch='2*n_jobs',
    error_score=nan,
)
Docstring:
Evaluate a score by cross-validation

Read more in the :ref:`User Guide <cross_validation>`.

Parameters
----------
estimator : estimator object implementing 'fit'
    The object to use to fit the data.

X : array-like of shape (n_samples, n_features)
    The data to fit. Can be for example a list, or an array.

y : array-like of shape (n_samples,) or (n_samples, n_outputs),             default=None
    The target variable to try to predict in the case of
    supervised learning.

groups : array-like of shape (n_samples,), default=None
    Group labels for the samples used while splitting the dataset into
    train/test set. Only used in conjunction with a "Group" :term:`cv`
    instance (e.g., :class:`GroupKFold`).

scoring : str or callable, default=None
    A str (see model evaluation documentation) or
    a scorer callable object / function with signature
    ``scorer(estimator, X, y)`` which should return only
    a single value.

    Similar to :func:`cross_validate`
    but only a single metric is permitted.

    If None, the estimator's default scorer (if available) is used.

cv : int, cross-validation generator or an iterable, default=None
    Determines the cross-validation splitting strategy.
    Possible inputs for cv are:

    - None, to use the default 5-fold cross validation,
    - int, to specify the number of folds in a `(Stratified)KFold`,
    - :term:`CV splitter`,
    - An iterable yielding (train, test) splits as arrays of indices.

    For int/None inputs, if the estimator is a classifier and ``y`` is
    either binary or multiclass, :class:`StratifiedKFold` is used. In all
    other cases, :class:`KFold` is used.

    Refer :ref:`User Guide <cross_validation>` for the various
    cross-validation strategies that can be used here.

    .. versionchanged:: 0.22
        ``cv`` default value if None changed from 3-fold to 5-fold.

n_jobs : int, default=None
    The number of CPUs to use to do the computation.
    ``None`` means 1 unless in a :obj:`joblib.parallel_backend` context.
    ``-1`` means using all processors. See :term:`Glossary <n_jobs>`
    for more details.

verbose : int, default=0
    The verbosity level.

fit_params : dict, default=None
    Parameters to pass to the fit method of the estimator.

pre_dispatch : int or str, default='2*n_jobs'
    Controls the number of jobs that get dispatched during parallel
    execution. Reducing this number can be useful to avoid an
    explosion of memory consumption when more jobs get dispatched
    than CPUs can process. This parameter can be:

        - None, in which case all the jobs are immediately
          created and spawned. Use this for lightweight and
          fast-running jobs, to avoid delays due to on-demand
          spawning of the jobs

        - An int, giving the exact number of total jobs that are
          spawned

        - A str, giving an expression as a function of n_jobs,
          as in '2*n_jobs'

error_score : 'raise' or numeric, default=np.nan
    Value to assign to the score if an error occurs in estimator fitting.
    If set to 'raise', the error is raised.
    If a numeric value is given, FitFailedWarning is raised. This parameter
    does not affect the refit step, which will always raise the error.

    .. versionadded:: 0.20

Returns
-------
scores : array of float, shape=(len(list(cv)),)
    Array of scores of the estimator for each run of the cross validation.

Examples
--------
>>> from sklearn import datasets, linear_model
>>> from sklearn.model_selection import cross_val_score
>>> diabetes = datasets.load_diabetes()
>>> X = diabetes.data[:150]
>>> y = diabetes.target[:150]
>>> lasso = linear_model.Lasso()
>>> print(cross_val_score(lasso, X, y, cv=3))
[0.33150734 0.08022311 0.03531764]

See Also
---------
:func:`sklearn.model_selection.cross_validate`:
    To run cross-validation on multiple metrics and also to return
    train scores, fit times and score times.

:func:`sklearn.model_selection.cross_val_predict`:
    Get predictions from each split of cross-validation for diagnostic
    purposes.

:func:`sklearn.metrics.make_scorer`:
    Make a scorer from a performance metric or loss function.
File:      c:\users\white\anaconda3\lib\site-packages\sklearn\model_selection\_validation.py
Type:      function

In [101]:
cross_val_score(estimator=rand_cv.best_estimator_, X=X_valid, y=y_valid)

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:   26.2s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.1s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:   25.4s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:   24.2s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:   22.3s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.0s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:   22.2s finished
[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done 1000 out of 1000 | elapsed:    0.0s finished

array([0.27477031, 0.21741535, 0.33525   , 0.37129637, 0.29814501])

Оценка на ~5 тысяч вакансиях с сильно разреженными данными дает +- средний результат.